.cover {
  width: 80px;
}

.sampulModal {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* table > tbody > tr > * berarti All */

.table > thead > tr > * {
  vertical-align: middle;
  text-align: center;
}
.table > tbody > tr > * {
  vertical-align: middle;
}
.table > tbody > tr {
  line-height: 25px;
  min-height: 25px;
  height: 25px;
}
.modal-dialog {
  width: 70%;
}

.btn-add {
  float: right;
}

.card-text {
  line-height: 0.5;
}

body {
  height: 700px;
}
.table100,
.row,
.container,
.table-responsive,
.table-bordered {
  height: 100%;
}
